---
title: 'Index page'
service: [
  {
    icon: 'degital-identify',
    title: 'Digital identity',
    descr: 'Lorem ipsum dolor sit amet, consectetur Accusamus corrupti mollitia suscipit provident, assumenda qui ducimus na'
  },
  {
    icon: 'trust-score',
    title: 'Trust Score',
    descr: 'Lorem ipsum dolor sit amet, consectetur Accusamus corrupti mollitia suscipit provident, assumenda qui ducimus na'
  },
  {
    icon: 'search-engine',
    title: 'Search engine',
    descr: 'Lorem ipsum dolor sit amet, consectetur Accusamus corrupti mollitia suscipit provident, assumenda qui ducimus na'
  },
  {
    icon: 'user-friendly',
    title: 'User friendly',
    descr: 'Lorem ipsum dolor sit amet, consectetur Accusamus corrupti mollitia suscipit provident, assumenda qui ducimus na'
  }
] 

---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "containers/_services.html" %}
{% include "containers/_lightpapers.html" %}
{% include "containers/_products.html" %}

{% endblock %}
