<!-- BEGIN lightpapers -->
<div class="lightpapers">
  <div class="container">
    <div class="lightpapers__inner">
      <div class="lightpapers__decor">
        <img class="lightpapers__decor-image" src="./img/lightpaper-decor-image.svg" alt="decor image">
      </div>
      <div class="lightpapers__brosure-wrapper" data-aos="fade-up" >
        <img class="lightpapers__brosure-image" src="./img/broshure.webp" alt="broshure">
      </div>
      <div class="lightpapers__main-content row">
        <div class="col col-3 col-md-12">
          <h3 class="lightpapers__title title title--m" data-aos="fade-up">OUR <br/> LIGHTPAPER</h3>
        </div>
        <div class="col col-4 col-md-12">
          <p class="lightpapers__text" data-aos="fade-up" data-aos-delay="200">
            Team is currently working on all its documents.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="lightpapers__button-wrapper col col-5 col-push-1 col-sm-12 col-sm-push-0">
          <a class="lightpapers__button button" href="#" download data-hover="Download" data-aos="fade-up" data-aos-delay="150"><span>Download</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END lightpapers -->