.icon-degital-identify {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-search-engine {
  width: 1.03em;
  height: 1em;
  fill: none;
}
.icon-trust-score {
  width: 0.99em;
  height: 1em;
  fill: none;
}
.icon-user-friendly {
  width: 0.99em;
  height: 1em;
  fill: none;
}
